[mysqld]
datadir=/home/oracle/mysql-data
binlog-format=ROW
log-bin=/home/oracle/mysql-binlog/bin
port=3306
server_id=10
socket=/home/oracle/mysql-data/mysqld.sock
log-error=/home/oracle/mysql-log/mysqld.log
secure_file_priv=/home/oracle/mysql-log
enforce_gtid_consistency = ON
gtid_mode = ON
log_slave_updates = ON

# Tuning
innodb_page_size=8192
innodb_buffer_pool_size=25769803776  # 24GB
innodb_buffer_pool_instances=12		# buffer pool size / 2 GB
innodb_page_cleaners=12			# set same as buffer pool instances
innodb_redo_log_capacity=9620726743
innodb_use_fdatasync=on
innodb_flush_neighbors=1
innodb_io_capacity=4000
innodb_io_capacity_max=4000
innodb_lru_scan_depth=330
innodb_read_io_threads=2
innodb_write_io_threads=2
innodb_checksum_algorithm=strict_crc32
binlog_row_image=minimal
innodb_log_compressed_pages=off
sort_buffer_size=8M
join_buffer_size=1M
table_open_cache=2048
innodb_open_files=2048
open_files_limit=100000 
max_prepared_stmt_count=1048576
innodb_change_buffer_max_size=50
innodb_adaptive_hash_index=off
innodb_doublewrite=0
innodb_thread_sleep_delay=500
innodb_spin_wait_delay=2
innodb_spin_wait_pause_multiplier=10
max_delayed_threads=0
delayed_queue_size=1
delayed_insert_timeout=1
delayed_insert_limit=1
thread_cache_size=1000
innodb_lock_wait_timeout=10

early-plugin-load=keyring_encrypted_file.so
keyring_encrypted_file_data=/home/oracle/mysql-log/keyring-encrypted
keyring_encrypted_file_password=password

audit-log=FORCE_PLUS_PERMANENT

# thread pool
plugin-load-add=thread_pool.so
thread_pool_size=8			 # 2x cpu core
thread_pool_max_transactions_limit=400	 # 100x cpu core 
thread_pool_dedicated_listeners=on
thread_pool_stall_limit=200		 # stall limit is 2 sec
thread_pool_prio_kickup_timer=2000	 # move to high prio after 2 sec
